@tailwind base;
@tailwind components;
@tailwind utilities;

.ab2:hover ~ .abhr {
  margin-left: 25%;
}

.ab3:hover ~ .abhr {
  margin-left: 50%;
}

.ab4:hover ~ .abhr {
  margin-left: 75%;
}

.abhr {
  height: 0.25rem;
  width: 25%;
  margin: 0;
  background: tomato;
  border: none;
  transition: 0.3s ease-in-out;
}

@keyframes up {
  from {
      transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
.animate-up {
  animation: up .5s ease-in-out;
}

@keyframes down {
  0% {
      transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
    display: none;
  }
}

.animate-hide {
  animation: down .5s ease-in-out;
  animation-fill-mode: forwards;
}

.overlay-ceo {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 55%);
}

html{
  scroll-behavior: smooth;
} 

.hero-one-pagination {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  width: 80px;
}
@media (max-width: 767px) {
  .hero-one-pagination {
    display: none;
    visibility: hidden;
  }
}
.hero-one-pagination .swiper-pagination-bullet {
  background: #fff;
  width: 15px;
  height: 15px;
}
.hero-one-pagination .swiper-pagination-bullet-active {
  background: #7a7256;
}
.slider-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
  z-index: 2;
  padding: 5px;
}